<!-- <div class="chat__main">
  <p id="curruser">{{messageObject.toUser}}</p>
  <ol id="messages" class="chat__messages list-group">
    <li *ngFor="let mess of messages" >
      <div ngClass="'fenn': mess.fromUser" >
          <span id="user">{{mess.fromUser}}
          </span>
            :
          <span id="message">
            {{mess.message}}
          </span>
          <span id="timestamp"> {{mess.timeStamp | date:'shortTime'}}</span>
      </div>
    </li>
  </ol>

  <div class="chat__footer">
    <form id="message-form">
      <input name="message" type="text" placeholder="Message" [(ngModel)]="message" autofocus autocomplete="off"/>
      <button (click)="sendMessage()">Send</button>
    </form>
  </div>
</div> -->

<div class="chat-box">
    <p id="curruser">{{messageObject.toUser}}</p>
      <ol #scroll id="messages" ngx-auto-scroll lock-y-offset='10' observe-attributes>
          <li *ngFor="let mess of messages" class="chat-card" >
            <div class="row">
                <div [ngClass] = "{'col-md-8': mess.toUser==friend}"></div>
                <div class="chat-div col-md-4">
                    <p id="message">
                      {{mess.message}}
                    </p>
                    <p id="timestamp"> {{mess.timeStamp | date:'shortTime'}}</p>
                </div>
            </div>
          </li>
        </ol>



    <div class="chat-footer">
      <form id="message-form">
        <input name="message" type="text" placeholder="Message" [(ngModel)]="message" autofocus autocomplete="off"/>
        <button class="btn btn-primary" (click)="sendMessage()">Send</button>
      </form>
    </div>
  </div>
