<div class="container" id="login">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-sm-6 col-sm-offset-2">

      <p class="error-message" >{{ Mssg }}</p>
      <form class="form-signin" (ngSubmit)="onLoginSubmit(f)" #f="ngForm">
        <h2 class="form-signin-heading display-4">LOGIN</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="username"
          id="username"
          class="form-control"
          placeholder="Email address"
          name="username"
          ngModel
          required
          autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          name="password"
          ngModel
          required>

        <button class="btn btn-lg btn-success btn-block" type="submit" [disabled]="!f.valid">Sign in</button>
      </form>

      <hr>
      <button class="btn btn-lg btn-info btn-block"
      type="button"
      routerLink="/register">New User? Register Here</button>
    </div>
  </div>
</div>
